nav {
  color: white;
  background: linear-gradient(105deg, #000000, #be1f1f 90%);
  border-right: 2px solid #be1f1f;
  padding: 2%;
  width: 18%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

nav h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2vw;
  margin-bottom: 2%;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 4% 0;
}

nav ul li a {
  font-weight: 500;
  transition: 0.3s;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  letter-spacing: 0.2vw;
  color: cyan;
}


body {
  font-family: sans-serif;
  background-color: #111;
  color: #eee;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}



header {
    background: linear-gradient(135deg, #bd0909, #222 70%);
    color: white;
    text-align: center;
    padding: 2%;
    border-bottom: 2px solid #be1f1f;
    box-shadow: 0 0 10px rgba(220, 20, 60, 0.4);
}

header h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}


article {
    margin-left: 22%; 
    padding: 3%;
    background-color: #181818;
    min-height: 100vh;
}

article p {
    margin-bottom: 2%;
    font-size: 1.1vw;
    color: white;
    text-align: justify;
}


ul {
    list-style-type: disc;
    margin-left: 20px;
    padding: 0;
}

li {
    margin-bottom: 8px; 
    color: #cadc06;
    padding-left: 5px;
    font-weight: 500;
}


img {
    width: 45%;
    height: 300px;
    border: 3px solid #be1f1f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(220, 20, 60, 0.4);
    margin: 1rem;

}



footer {
    background-color: #000;
    color: #eee;
    text-align: center;
    padding: 1.5%;
    border-top: 2px solid #be1f1f;
    font-size: 1rem;
    margin-top: 2%;
}

footer a {
    color: #bd0909;
    margin: 0 0.5rem;
    text-decoration: none;
}

footer a:hover {
    color: white;
    transition: 0.7s;
    letter-spacing: 0.2vw;
}


::-webkit-scrollbar {
  width: 12px;  
  height: auto;
}


::-webkit-scrollbar-track {
  background: #111;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #be1f1f; 
  border-radius: 8px;
}


::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 10px yellow
, 0 0 15px yellow, 0 0 20px yellow
}


.barra {
    
    overflow-y: auto; }