body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #121212; 
    color: #e0e0e0; 
    max-width: 1000px; 
    margin: 20px auto; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px; 
}


header {
    background-image: url(../images/pared.jpg);
    color: white;
    padding: 1rem;
    text-align: center;
}

h1, h2 {
    color: #ffffff; 
}


nav {
    background-color: #440303;
    padding: 10px 20px;
    border-bottom: 3px solid #cadc06; 
}

nav h2 {
    margin-top: 0;
    color: #ffffff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap; 
}

nav ul li a {
    color: white;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  
  letter-spacing: 0.2vw;
  color: rgb(250, 0, 254);
}


article {
    padding: 30px;
    background-color: #000000;
}

p {
    margin-bottom: 4%;
    text-align: justify;
    margin-top: 4%;
    margin-left: 2%;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    padding: 0;
}


iframe {
    display: block; 
    margin: 20px auto;
    border: 3px solid #cadc06; 
; 
    border-radius: 8px;
    max-width: 100%; 
    float: right;
    margin-left: 4%;
}


footer {
    background-image: url(../images/pared.jpg);
    color: white;
    text-align: center;
    padding: 1rem;
    
}

 footer a{
    color: #bd0909;
    
  }
  footer a:hover{
    color: white;
    transition: 0,7s;
    letter-spacing: 0,2vw;
  }

    


 li {
    margin-bottom: 8px; 
  color: #cadc06;
    padding-left: 5px;
    font-weight: 500;
  transition: 0.3s;
}
li:hover{
    color: aqua;
    letter-spacing: 0.2vw;
}

